:root {
	--main-color: rgb(8, 44, 55);
}

body {
	font-family: 'Teko';
	font-size: 1.8em;
	background: url("img/wavy-pattern.png") rgba(99, 189, 214, 0.998);
	color: var(--main-color);
}

#game-title {
	font-size: 5rem;
	animation-name: floating;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	margin: 20px;
}

img {
	animation-name: floating;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	border-radius: 40px;
	border: 8px solid var(--main-color);
	max-width: 100%;
}

h2 {
	font-size: 4rem;
	margin-bottom: .25em;
	text-align: left;
}

#logline {
	font-size: 2rem;
	text-align: center;
	width: 60%;
	margin: 0 auto;
}

p {
	font-size: 1.2em;
}

#home-icon {
	border-width: 3px;
	padding: 5px;
}

#home-btn > p {
	translate: 0 -20px;
}

@media screen and (min-width: 1100px) {
	img {
		max-width: 400px;
	}
}