* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--off-black: #edfeff;
	--off-white: #1d2036;
	/* 1d2036 */
}

body {
	color: var(--off-black);
	background-color: var(--off-white);
	font-family: 'Arvo';
	padding: 50px;
}

header {
	/* border-bottom: 2px solid var(--off-black); */
	padding: 15px 0 22px 0;
	text-align: center;
}

main {
	padding-top: 3rem;
}

a {
	text-decoration: inherit;
	color: inherit;
}

#my-name {
	font-size: 4rem;
}

.game-list {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

#bio {
	height: 40vh;
	width: 50%;
	margin: 20px auto 50px auto;
}

#bio > * {
	margin: 0 30px;
}

#bio > img {
	height: 40vh;
	float: left;
	border: 5px solid var(--off-black);
	border-radius: 15px;
}

#bio > p {
	font-size: 1.3rem;
}

.game-link {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 45vmin;
	height: 30vmin;
	margin: 10px;
	border: 5px solid #585e8b;
	border-radius: 15px;
	transition: box-shadow .4s, translate .4s;
}

.game-link:hover {
	box-shadow: 5px 5px #9ca4e7;
}

.game-link:active {
	translate: 5px 5px;
	box-shadow: 0px 0px;
}

.game-link > h1 {
	text-align: center;
	font-size: 3rem;
}

#serious-business {
	font-family: "Libre Baskerville";
	color: #030303;
	background-image: url("img/sb-paper-bg.png");
}

#pixel-palette {
	background-image: url("img/pixel-palette.png");
	background-size: cover;
	background-position: center center;
}

#bbbb {
	background-image: url("img/bbbb.svg");
	background-size: cover;
}

#bbbb > h1 {
	text-align: left;
	padding-left: 3.5rem;
}

.centered-txt {
	text-align: center;
}

.bigger {
	font-size: 2.5em;
}